h1{
  color: teal;
  font-family: "cursive";
  text-align: center;
  font-weight: bolder;
  font-stretch: expanded;
  font-size: xxx-large;
}
p{
  font-family: SimSun-ExtB;
  font-size: xx-large;
  color: midnightblue;
}
.one{
  font-size: xx-large;
  color: black;
}
.two{
  font-family: SimSun-ExtB ;
  font-size: xx-large;
  color: palevioletred;
}
#abc{
  width: 700px;
  height: 500px;
  padding-left: 350px;
}
#new{
  width: 700px;
  height: 400px;

  padding-right: 100px;
  padding-inline: 100px;
}
#bcd{
  width: 500px;
  height: 400px;
  padding-right: 70px;

  padding-right: 50px;


}
#cde{
  width: auto;
  height: auto;
}
#this{
  padding-top: 50px;
  padding-bottom: 70px;
}

.me{
  font-family: cursive;
  font-weight: bold;
  padding-top: 10px;
  color: deeppink;

}

*{
  margin-left: 10px;
}
